<!DOCTYPE html>
<html>
<head>
    <title>Analizador Léxico</title>
</head>
<body>
    <h1>Analizador Léxico</h1>
    <form action="/" method="post">
        <textarea name="code" rows="10" cols="50">{{ code }}</textarea><br>
        <input type="submit" value="Generar Análisis">
    </form>

    <div id="result" style="display: block if tokens else none">
        <h2>Resultado del Análisis</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Token</th>
                    <th>PR</th>
                    <th>Identificador</th>
                    <th>Número</th>
                    <th>Símbolo</th>
                    <th>Tipo</th>
                    <!-- <th>Paréntesis izquierdo</th>
                    <th>Paréntesis derecho</th>
                    <th>Llave izquierda</th>
                    <th>Llave derecha</th> -->
                </tr>
            </thead>
            <tbody>
                {% for token in tokens %}
                <tr>
                    <td>{{ token['token'] }}</td>
                    <td>{{ token['reservada'] }}</td>
                    <td>{{ token['identificador'] }}</td>
                    <td>{{ token['numero'] }}</td>
                    <td>{{ token['simbolo'] }}</td>

                    {% if token['parentesis_izquierdo'] %}
                    <td>parentesis izquierdo</td>
                    {% endif %}

                    {% if token['parentesis_derecho'] %}
                    <td>parentesis derecho</td>
                    {% endif %}

                    {% if token['llave_izquierda'] %}
                    <td>llave izquierda</td>
                    {% endif %}

                    {% if token['llave_derecha'] %}
                    <td>llave derecha</td>
                    {% endif %}
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
